{
  "printWidth": 120,
  "bracketSpacing": true,
  "explicitTypes": "preserve",
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "semi": false
      }
    }
  ]
}
